@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html, body {
    display: block;
    height: 100%;
    width: 100%;
}

.site_name {
    width: 92%;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0 4%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #3971c6;
}

.content_block {
    display: block;
    width: 70%;
    height: calc(100% - 70px);
    float: left;

    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #3971c6;
}

.resume_block {
    display: block;
    width: 28%;
    height: calc(100% - 70px);
    float: left;

    bottom: 0;
}

.content_block ul {
    display: block;
    list-style: none;
}

.statistic_block {
    width: 98%;
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    color: #3971c6;
    padding-left: 2%;
    border-bottom: 1px solid #3971c6;
}

.text_block {
    width: 100%;
    display: block;
    border-bottom: 1px solid #3971c6;
}

.text_title {
    font-weight: bold;
    font-size: 25px;
    width: 92%;
    margin: 0 5% 10px 3%;

}

.text_time {
    font-size: 12px;
    width: 92%;
    margin: 0 5% 10px 3%;
}

.text_content {
    font-size: 20px;
    width: 92%;
    margin: 0 5% 10px 3%;
}

.text_full_content {
    font-size: 20px;
    width: 92%;
    margin: 0 5% 10px 3%;
    display: none;
}
.text_more {
    display: block;
    color: blue;
    font-size: 20px;
    width: 92%;
    margin: 0 5% 10px 3%;
}

.resume_block ul {
    display: block;
    width: 90%;
    font-size: 15px;
    padding: 5%;
}

.resume_block ul li {
    margin: 5% 0;
}

